// "out": "./style.css", "compress": true
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
body {
    background-size: cover;
    overflow: hidden;
    font-family: Microsoft JhengHei
}

.container {
    width: 90%;
    margin: 0 auto;
    height: 200px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
    .shadow {
        -webkit-filter: drop-shadow(1px 1px 6px rgba(5, 147, 228, 0.75));
        -moz-filter: drop-shadow(1px 1px 6px rgba(5, 147, 228, 0.75));
        -ms-filter: drop-shadow(1px 1px 6px rgba(5, 147, 228, 0.75));
        -o-filter: drop-shadow(1px 1px 6px rgba(5, 147, 228, 0.75));
    }
}
.maintitle{
    width: 50%;
    height: 110px;
    margin: 0 auto 40px;
    position: relative;
}
.title {
    width: 100%;
    height: 105px;
    display: block;
    -webkit-mask: url(../images/title.svg) no-repeat 50% 50%;
    mask: url(../images/title.svg) no-repeat 50% 50%; // -webkit-mask-size: cover;
    // mask-size: cover;
}
.star{
    background: url(../images/img_starline.png) 50% no-repeat;
    background-size: 100%;
    mix-blend-mode: screen;
    width: 200px;
    height: 200px;
    position: absolute;
    top: -96px;
    left: 39px;
    z-index: 99;
    -webkit-animation: twinkle 1s infinite;
    animation: twinkle 1s infinite;
}

@keyframes twinkle {
    0% {
        opacity: 0.5;
    }
    25% {
        opacity: 0.8;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}


.foxconn {
    width: 100%;
    height: 200px;
    display: block;
    -webkit-mask: url(../images/foxconn.svg) no-repeat 50% 50%;
    mask: url(../images/foxconn.svg) no-repeat 50% 50%; // -webkit-mask-size: cover;
    // mask-size: cover;
    margin: 0 auto;
    &:after {
        content: '';
        display: block;
        width: 700px;
        height: 28px;
        animation: flash01 2s linear infinite;
        left: -100%;
        background: url(../images/bg_flashline.png) no-repeat;
        position: relative;
        transform: rotate(45deg)
    }
}

.photo {
    // background: url(../images/photo.jpg);
    background-color: #dddddd33;
}

.subtitle {
    width: 45%;
    height: 87px;
    -webkit-mask: url(../images/subtitle.svg) no-repeat 50% 50%;
    mask: url(../images/subtitle.svg) no-repeat 50% 50%;
    margin: 25px auto 0;
}

@-webkit-keyframes flash01 {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

@keyframes flash01 {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.flash {
    background: linear-gradient(45deg, #fff, #FAC010, #CEAF81, #EEDABF);
    background-size: 200% auto;
    animation: move 3s linear infinite;
}

@keyframes move {
    to {
        background-position: -200% center;
    }
}

.light {
    background: url(../images/bg_light01.png) 0 no-repeat;
    mix-blend-mode: screen;
    height: 78px;
    position: absolute;
    width: 100%;
    margin-top: -41px;
    left: -200px;
    -webkit-animation: flashlight 1.5s infinite ease-out;
    animation: flashlight 1.5s infinite ease-out;
}

@keyframes flashlight {
    0% {
        opacity: 0;
        left: 3%;
    }
    25% {
        opacity: 1;
        left: 25%;
    }
    50% {
        opacity: 1;
        left: 50%;
    }
    75% {
        opacity: 0;
        left: 60%;
    }
    100% {
        opacity: 0;
        left: 220%;
    }
}


.bg {
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
}

.bg:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.3;
}

@keyframes sf-fly-by-1 {
    from {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(0);
        opacity: 0.5;
    }
}

@keyframes sf-fly-by-2 {
    from {
        transform: translateZ(-1500px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-1000px);
        opacity: 0.5;
    }
}

@keyframes sf-fly-by-3 {
    from {
        transform: translateZ(-2500px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-2000px);
        opacity: 0.5;
    }
}

.star-field {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 800px;
    -webkit-perspective: 800px;
    z-index: -1;
}

.star-field .layer {
    box-shadow: -411px -476px #03EAEA, 777px -407px #03EAEA, -387px -477px #fcfcfc, -91px -235px #03EAEA, 491px -460px #03EAEA, 892px -128px #f7f7f7, 758px -277px #03EAEA, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7, 524px -237px #03EAEA, 679px -535px #03EAEA, 158px 399px #ededed, 157px 249px #03EAEA, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #03EAEA, 446px 404px #c2c2c2, 440px 490px #d4d4d4, 414px 507px #03EAEA, -12px 246px #03EAEA, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3, -869px -29px #dbdbdb, 502px 80px #03EAEA, 764px 342px #03EAEA, -150px -380px #03EAEA, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed, -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6, 828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc, 624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2, 563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0, -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1, -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 6px;
    width: 6px;
    border-radius: 10px;
}

.star-field .layer:nth-child(1) {
    animation: sf-fly-by-1 4s linear infinite;
}

.star-field .layer:nth-child(2) {
    animation: sf-fly-by-2 4s linear infinite;
}

.star-field .layer:nth-child(3) {
    animation: sf-fly-by-3 4s linear infinite;
}

.block{
    position: absolute;
    bottom:0%;
    background: rgba(3,32,78,.8);
    padding: 20px 0;
}
marquee{
    color:#a6e6f5;
    display: inline-block;

    span{
        margin-right: 50px;
        font-weight: bold;
        font-size: 40px;
    }
}

@media screen and (min-width:1000px) and (max-width:1600px) {
    .container {
        top: 50%;
    }
    .title {
        margin: 0 auto -20px;
    }
    .subtitle {
        margin: -20px auto 0;
    }
}
