{{#section 'head'}}
	<!-- we want style <link rel="stylesheet" type="text/css" href=""> -->
    <link rel="stylesheet" type="text/css" href="stylesheets/swiper4.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/home.css">
{{/section}}

<article class="home">
    <aside class="top-bd">

        <div class="top-handle">
            <dl class="handle-dl">
                <dt class="handle-l">欢迎进入深圳有方国际教育有限公司</dt>
                <dd class="handle-r">
                    <span class="handle-cell handle-phone">手机网站</span>
                    <i class="col-line">|</i>
                    <span class="handle-cell handle-collect" id="handle-collect">收藏</span>
                    <i class="col-line">|</i>
                    <span class="handle-cell handle-share bdsharebuttonbox">
                        <a href="#" class="handle-more bds_more"   data-cmd="more">分享</a>
                    </span>
                </dd>
            </dl>
        </div>

        <figure class="logo-wechat">
            <a class="logo-bd">
                <img src="images/logo_01.png" />
                <span class="logo-txt">深圳有方国际教育有限公司</span>
                <i class="logot-des">专注品质教育</i>
            </a>
            <figcaption class="wechat-img">
                <i class="wechat_01"><img src="images/home/wechat_01.png" />服务号</i>
                <i class="wechat_02"><img src="images/home/wechat_02.png" />订阅号</i>
            </figcaption>
        </figure>

        <nav class="nav-bar">
            <div class="nav-list">
                <a class="nav-cell nav-current">教师培训</a>
                <a class="nav-cell">母婴护理培训</a>
                <a class="nav-cell">联系我们</a>
            </div>
        </nav>
    </aside>

    <div class="container">

        {{!-- 教育培训 --}}
        <section class="teacher-train">
            <div class="teacher-wrap">
                <div class="title">
                    <h3 class="title-b">
                        <strong class="title-b-zh" data-en="Teacher training">教师培训</strong>
                        {{!-- <span class="title-b-en">Welocme</span> --}}
                    </h3>
                    {{!-- <p class="title-s"></p> --}}
                </div>
                <div class="teacher-bd">
                    <div class="teacher-img">
                        <img src="images/home/home_01.png" border="0" usemap="#teacher-map" alt="Planets" />
                        <map name="teacher-map" id="teacher-map">
                            <area shape="rect" coords="340,455,580,524" href ="education" alt="education" />
                        </map>
                    </div>
                </div>
            </div>
        </section>

        {{!-- 医疗培训 --}}
        <section class="medical-train">
            <div class="medical-wrap">
                <div class="title">
                    <h3 class="title-b">
                        <strong class="title-b-zh" data-en="Maternal and child ">母婴护理培训</strong>
                        {{!-- <span class="title-b-en">Welocme</span> --}}
                    </h3>
                    {{!-- <p class="title-s"></p> --}}
                </div>
                <div class="medical-bd">
                    <div class="medical-img">
                        <img src="images/home/home_02.png" border="0" usemap="#medical-map" alt="medical" />
                        <map name="medical-map" id="medical-map">
                            <area shape="rect" coords="568,490,808,558" href ="medical" alt="medical" />
                        </map>
                    </div>
                </div>
            </div>
        </section>

        {{!-- 有方国际教育介绍 --}}
        <section class="introduce-box">
            <div class="introduce-wrap">
                <div class="introduce-bd">
                    <dl class="introduce-dl">
                        <dt class="introduce-dt"><img src="images/home/home_03.png" /></dt>
                        <dd class="introduce-dd">
                            <h3 class="introduce-title">有方国际教育介绍：</h3>
                            <p class="introduce-txt">深圳有方国际教育有限公司（简称有方国际教育），是一家专注为全国公立学校和大型医院培养选拔优秀人才的大型综合性平台，在提升求职者的综合素养的同时，解决用人单位的用人难点。</p>
                            <p class="introduce-txt">有方国际业务分教师培训事业和医疗护理培训事业，携手教育行业和医疗行业合作单位及行业大咖，两轮驱动，为中国教育事业和医疗护理事业添砖加瓦。</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </section>

        {{!-- 来校路线 && 预约报名  && 报名流程  && 开班时间 --}}
        <section class="over-box">
            <div class="over-wrap">
                <div class="over-bd">
                    <a class="over-cell">
                        <i class="over-img">
                            <img src="images/home/icon_01.png" />
                            <span class="over-bg"></span>
                        </i>
                        <p class="over-txt">来校路线</p>
                    </a>
                    <a class="over-cell">
                        <i class="over-img">
                            <img src="images/home/icon_02.png" />
                            <span class="over-bg"></span>
                        </i>
                        <p class="over-txt">预约报名</p>
                    </a>
                    <a class="over-cell">
                        <i class="over-img">
                            <img src="images/home/icon_03.png" />
                            <span class="over-bg"></span>
                        </i>
                        <p class="over-txt">报名流程</p>
                    </a>
                    <a class="over-cell">
                        <i class="over-img">
                            <img src="images/home/icon_04.png" />
                            <span class="over-bg"></span>
                        </i>
                        <p class="over-txt">开班时间</p>
                    </a>
                </div>
            </div>
        </section>

        <!--联系我们 CONTACT US  -->
        <section class="contact-box" data-aos="fade-up" data-aos-offset="400" data-aos-easing="ease-in-sine" aos-once="true">
            <div class="contact-layer">
                <div class="title">
                    <h3 class="title-b">
                        <strong class="title-b-zh" data-en="CONTACT US">联系我们</strong>
                        {{!-- <span class="title-b-en">Welocme</span> --}}
                    </h3>
                    {{!-- <p class="title-s"></p> --}}
                </div>
                <div class="contact-bd">
                    <dl class="cont-address">
                        <dt class="cont-dt">
                            <h5 class="cd-company">深圳有方国际教育有限公司</h5>
                            <small class="cd-company-en">Uffer Limited company</small>
                        </dt>
                        <dd class="cont-dd">电话：0755-33086358 </dd>
                        <dd class="cont-dd">地址：深圳市南山区TCL科学园国际E城D3栋B、C单元7楼 </dd>
                        <dd class="cont-dd">邮箱：13560311642@126.com  </dd>
                        <dd class="cont-dd">
                            <i class="dd-img"><img src="images/weChat_Qr_code.png" /></i>
                            <i class="dd-img"><img src="images/weChat_icon.png" /></i>
                        </dd>
                    </dl>
                    <dl class="cont-map">
                        <dt id="allmap"></dt>
                    </dl>
                </div>
            </div>
            <div class="bg"></div>
        </section>

    </div>

    <aside class="btm-bd">
        <div class="btm-wrap">
            <dl class="btm-dl">
                <dt class="btm-dt">了解我们</dt>
                <dd class="btm-dd">有方教育</dd>
                <dd class="btm-dd">学校介绍</dd>
                <dd class="btm-dd">联系我们</dd>
                <dd class="btm-dd">报读流程</dd>
                <dd class="btm-dd">学历服务</dd>
                <dd class="btm-dd">精英访谈</dd>
            </dl>
            <dl class="btm-dl">
                <dt class="btm-dt">母婴培训专业课程</dt>
                <dd class="btm-dd">高级母婴护理师</dd>
                <dd class="btm-dd">月嫂/小儿推拿师</dd>
                <dd class="btm-dd">高级催乳师</dd>
                <dd class="btm-dd">产后康复护理师</dd>
                <dd class="btm-dd">家庭育婴早教师</dd>
            </dl>
            <dl class="btm-dl">
                <dt class="btm-dt">母婴培训专业课程</dt>
                <dd class="btm-dd">幼儿教师实训就业营</dd>
                <dd class="btm-dd">小学教师实训就业营</dd>
                <dd class="btm-dd">初中教师实训就业营</dd>
                <dd class="btm-dd">高中康复护理师</dd>
                <dd class="btm-dd">教师培训定制营</dd>
                <dd class="btm-dd">教师进阶提升营</dd>
            </dl>
        </div>
    </aside>


	{{#if showTitle}}
    <section>Ping 666</section>
    <!-- Calls `foo` helper, overridden at render-level. -->
    <p>{{foo}}</p>

    <p>{{year}}{{article}}</p>
    <!-- Calls `bar` helper, defined at instance-level. -->
    <p>{{bar}}</p>
    <p>123</p>
	{{/if}}


</article>

{{#section 'jquery'}}
    <!-- we want js -->
    <script type="text/javascript" src="javascripts/swiper4.min.js"></script>
    <script type="text/javascript" src="javascripts/aos.js"></script>
    <script type="text/javascript" src="javascripts/mapInit.js"></script>
    <script type="text/javascript" src="javascripts/home.js"></script>
{{/section}}

