@import "swiper4.min.css";
@import "aos.css";
/**************************************/
.header {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  line-height: 50px;
  overflow: visible;
}
.header .head-inner {
  position: relative;
  overflow: hidden;
  width: 1200px;
  margin: 0px auto;
  height: 80px;
  overflow: visible;
  font-size: 14px;
}
.header .head-inner .logo {
  width: 80px;
  height: 80px;
  float: left;
  display: table;
  vertical-align: middle;
}
.header .head-inner .logo img {
  display: block;
  padding: 10px 0px;
  box-sizing: border-box;
  cursor: pointer;
}
.header .head-inner .head-nav {
  position: absolute;
  right: 0px;
  top: 0;
  width: 56%;
  font-size: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 6;
}
.header .head-inner .head-nav .nav-cell {
  position: relative;
  width: calc(100%/4);
  height: 80px;
  line-height: 80px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  color: #333;
  text-decoration: none;
}
.header .head-inner .head-nav .nav-cell:hover {
  color: #fff;
  background-color: #0047ab;
}
.header .head-inner .head-nav .nav-cell:hover .cell-bar {
  display: none;
}
.header .head-inner .head-nav .nav-cell .cell-bar {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  color: #0047ab;
  background-color: #fff;
}
.header .head-inner .head-nav .nav-cell .cell-bar .bar-li:hover {
  color: #fff;
  background-color: #0047ab;
}
.header .head-inner .head-nav .nav-current1,
.header .head-inner .head-nav .nav-current2,
.header .head-inner .head-nav .nav-current3,
.header .head-inner .head-nav .nav-current4 {
  color: #fff;
  background-color: #0047ab;
}
/**************************************/
.footer {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
}
.footer .foot-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
}
.footer .foot-inner .foot-record {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  height: 100px;
  line-height: 100px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #333;
}
/*********************************************************************/
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
/* Scrollable element */
/* Scrollable element */
.martop {
  margin-top: 40px;
}
._title {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
}
._title .title-b {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  height: 98px;
  line-height: 98px;
  text-align: center;
}
._title .title-b .title-b-zh {
  position: relative;
  overflow: hidden;
  display: block;
  color: #1a1a1a;
  font-size: 28px;
  z-index: 3;
}
._title .title-b .title-b-zh:before {
  content: attr(data-en);
  display: block;
  height: 98px;
  line-height: 80px;
  font-size: 80px;
  color: #f7f7f7;
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
._title .title-b .title-b-zh:after {
  content: "";
  display: block;
  width: 70px;
  height: 6px;
  background-color: #0047ab;
  position: absolute;
  left: 50%;
  bottom: -2px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
._title .title-s {
  margin-top: 25px;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
/*********************************************************************/
.medical {
  min-width: 1200px;
  position: relative;
  clear: both;
}
.medical .banner-box .current-bullet {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid transparent;
  background-color: transparent;
  margin: 0px 6px;
  border-radius: 50%;
  cursor: pointer;
}
.medical .banner-box .current-bullet::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
}
.medical .banner-box .swiper-pagination-bullet-active {
  border: 3px solid #fff;
}
.medical .banner-box .swiper-button-next {
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
  background-image: url("../images/banner_right.png") !important;
}
.medical .banner-box .swiper-button-prev {
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
  background-image: url("../images/banner_left.png") !important;
}
.medical .banner-box .swiper-wrapper .swiper-button-next {
  background-image: url("../images/banner_right.png") !important;
}
.medical .banner-box .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
}
.medical .welcome-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  padding: 80px 0px;
  background-color: #fafafa;
}
.medical .welcome-box .welcome-layer {
  position: relative;
  overflow: hidden;
  width: 1200px;
  margin: 0px auto;
}
.medical .welcome-box .welcome-layer .title {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
}
.medical .welcome-box .welcome-layer .title .title-b {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  height: 98px;
  line-height: 98px;
  text-align: center;
}
.medical .welcome-box .welcome-layer .title .title-b .title-b-zh {
  position: relative;
  overflow: hidden;
  display: block;
  color: #1a1a1a;
  font-size: 28px;
  z-index: 3;
}
.medical .welcome-box .welcome-layer .title .title-b .title-b-zh:before {
  content: attr(data-en);
  display: block;
  height: 98px;
  line-height: 80px;
  font-size: 80px;
  color: #f7f7f7;
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.medical .welcome-box .welcome-layer .title .title-b .title-b-zh:after {
  content: "";
  display: block;
  width: 70px;
  height: 6px;
  background-color: #0047ab;
  position: absolute;
  left: 50%;
  bottom: -2px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.medical .welcome-box .welcome-layer .title .title-s {
  margin-top: 25px;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.medical .welcome-box .welcome-layer .welcome-bd {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  align-items: flex-start;
}
.medical .welcome-box .welcome-layer .welcome-bd .wel-l {
  width: 838px;
  margin-right: 11px;
}
.medical .welcome-box .welcome-layer .welcome-bd .wel-l .wel-l-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.medical .welcome-box .welcome-layer .welcome-bd .wel-l .wel-l-btm {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.medical .welcome-box .welcome-layer .welcome-bd .wel-r {
  flex: 1;
  height: 100%;
}
.medical .welcome-box .welcome-layer .welcome-bd .wel-r .wel-cell-txt {
  height: 82px !important;
  line-height: 30px !important;
  padding: 0px 70px !important;
}
.medical .welcome-box .welcome-layer .welcome-bd .wel-l-cell {
  flex-grow: 0;
  flex-basis: 1px;
  flex-shrink: 1;
  margin-bottom: 10px;
  background-color: #f5f5f5;
}
.medical .welcome-box .welcome-layer .welcome-bd .wel-l-cell .wel-cell-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  display: block;
}
.medical .welcome-box .welcome-layer .welcome-bd .wel-l-cell .wel-cell-title {
  line-height: 64px;
  text-align: center;
  font-size: 28px;
  color: #333;
}
.medical .welcome-box .welcome-layer .welcome-bd .wel-l-cell .wel-cell-txt {
  height: 70px;
  line-height: 20px;
  font-size: 16px;
  color: #333;
  text-align: center;
  box-sizing: border-box;
  padding: 14px 62px;
}
.medical .course-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  padding: 80px 0px;
  background-color: #ebebeb;
}
.medical .course-box .course-layer {
  position: relative;
  overflow: hidden;
  width: 1200px;
  margin: 0px auto;
}
.medical .course-box .course-layer .title {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
}
.medical .course-box .course-layer .title .title-b {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  height: 98px;
  line-height: 98px;
  text-align: center;
}
.medical .course-box .course-layer .title .title-b .title-b-zh {
  position: relative;
  overflow: hidden;
  display: block;
  color: #1a1a1a;
  font-size: 28px;
  z-index: 3;
}
.medical .course-box .course-layer .title .title-b .title-b-zh:before {
  content: attr(data-en);
  display: block;
  height: 98px;
  line-height: 80px;
  font-size: 80px;
  color: #f7f7f7;
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.medical .course-box .course-layer .title .title-b .title-b-zh:after {
  content: "";
  display: block;
  width: 70px;
  height: 6px;
  background-color: #0047ab;
  position: absolute;
  left: 50%;
  bottom: -2px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.medical .course-box .course-layer .title .title-s {
  margin-top: 25px;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.medical .course-box .course-layer .course-bd {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  overflow: visible;
  margin-top: 50px;
}
.medical .course-box .course-layer .course-bd .course-list {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.medical .course-box .course-layer .course-bd .course-list .course-cell {
  width: 300px;
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 1;
  font-size: 0px;
  margin-bottom: 40px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0.1s;
  -moz-transition: all 0.5s ease 0.1s;
  -ms-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
}
.medical .course-box .course-layer .course-bd .course-list .course-cell .cell-img {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s ease 0.1s;
  -moz-transition: all 0.5s ease 0.1s;
  -ms-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
  width: 160px;
  height: 160px;
  margin: 0px auto;
  border: 4px solid #0686d8;
  border-radius: 12px;
}
.medical .course-box .course-layer .course-bd .course-list .course-cell .cell-img img {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
}
.medical .course-box .course-layer .course-bd .course-list .course-cell .cell-name {
  line-height: 62px;
  font-size: 22px;
  color: #333;
  text-align: center;
}
.medical .course-box .course-layer .course-bd .course-list .course-cell .cell-btn {
  width: 92px;
  height: 26px;
  line-height: 25px;
  display: block;
  outline: none;
  color: #333;
  border: 1px solid #333;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: transparent;
  margin: auto;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0.1s;
  -moz-transition: all 0.5s ease 0.1s;
  -ms-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
}
.medical .course-box .course-layer .course-bd .course-list .course-cell:hover {
  -webkit-transition: all 0.5s ease 0.1s;
  -moz-transition: all 0.5s ease 0.1s;
  -ms-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
  -webkit-transform: translate(0, -10px);
  -moz-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  -o-transform: translate(0, -10px);
  transform: translate(0, -10px);
}
.medical .course-box .course-layer .course-bd .course-list .course-cell:hover .cell-img {
  -webkit-transition: all 0.5s ease 0.1s;
  -moz-transition: all 0.5s ease 0.1s;
  -ms-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
  border-radius: 50%;
  transform: rotate(360deg);
}
.medical .course-box .course-layer .course-bd .course-list .course-cell:hover .cell-btn {
  -webkit-transition: all 0.5s ease 0.1s;
  -moz-transition: all 0.5s ease 0.1s;
  -ms-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #0686d8;
}
.medical .class-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  padding: 80px 0px;
  background-color: #fff;
  background-image: url("../images/yiLiao/bg_01.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.medical .class-box .class-layer {
  position: relative;
  overflow: hidden;
  width: 1200px;
  margin: 0px auto;
}
.medical .class-box .class-layer .title {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
}
.medical .class-box .class-layer .title .title-b {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  height: 98px;
  line-height: 98px;
  text-align: center;
}
.medical .class-box .class-layer .title .title-b .title-b-zh {
  position: relative;
  overflow: hidden;
  display: block;
  color: #1a1a1a;
  font-size: 28px;
  z-index: 3;
}
.medical .class-box .class-layer .title .title-b .title-b-zh:before {
  content: attr(data-en);
  display: block;
  height: 98px;
  line-height: 80px;
  font-size: 80px;
  color: #f7f7f7;
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.medical .class-box .class-layer .title .title-b .title-b-zh:after {
  content: "";
  display: block;
  width: 70px;
  height: 6px;
  background-color: #0047ab;
  position: absolute;
  left: 50%;
  bottom: -2px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.medical .class-box .class-layer .title .title-s {
  margin-top: 25px;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.medical .class-box .class-layer .title .title-b-zh {
  color: #fff !important;
}
.medical .class-box .class-layer .title .title-b-zh:before {
  color: rgba(247, 247, 247, 0.1) !important;
}
.medical .class-box .class-layer .class-bd {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  margin-top: 40px;
}
.medical .class-box .class-layer .class-bd .class-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.medical .class-box .class-layer .class-bd .class-list .class-cell {
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 1;
  text-align: center;
}
.medical .class-box .class-layer .class-bd .class-list .class-cell .class-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
}
.medical .class-box .class-layer .class-bd .class-list .class-cell .class-img img {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  display: block;
}
.medical .class-box .class-layer .class-bd .class-list .class-cell .class-name {
  font-size: 18px;
  color: #575757;
  line-height: 56px;
  background-color: #fff;
}
.medical .class-box .class-layer .class-bd .class-list .class-cell .class-time {
  font-size: 16px;
  color: #575757;
  height: 50px;
  background-color: #fff;
}
.medical .model-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  padding: 80px 0px;
  background-color: #ebebeb;
}
.medical .model-box .model-layer {
  position: relative;
  overflow: hidden;
  width: 1200px;
  margin: 0px auto;
}
.medical .model-box .model-layer .title {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
}
.medical .model-box .model-layer .title .title-b {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  height: 98px;
  line-height: 98px;
  text-align: center;
}
.medical .model-box .model-layer .title .title-b .title-b-zh {
  position: relative;
  overflow: hidden;
  display: block;
  color: #1a1a1a;
  font-size: 28px;
  z-index: 3;
}
.medical .model-box .model-layer .title .title-b .title-b-zh:before {
  content: attr(data-en);
  display: block;
  height: 98px;
  line-height: 80px;
  font-size: 80px;
  color: #f7f7f7;
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.medical .model-box .model-layer .title .title-b .title-b-zh:after {
  content: "";
  display: block;
  width: 70px;
  height: 6px;
  background-color: #0047ab;
  position: absolute;
  left: 50%;
  bottom: -2px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.medical .model-box .model-layer .title .title-s {
  margin-top: 25px;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.medical .model-box .model-layer .model-bd {
  margin-top: 40px;
}
.medical .model-box .model-layer .model-bd .model-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.medical .model-box .model-layer .model-bd .model-list .model-cell {
  position: relative;
  overflow: hidden;
  width: 590px;
  height: 250px;
  background-color: #9ecfef;
  margin-bottom: 20px;
}
.medical .model-box .model-layer .model-bd .model-list .model-cell .model-txt {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 285px;
  line-height: 35px;
  font-size: 28px;
  text-align: center;
  color: #333;
  box-sizing: border-box;
}
.medical .model-box .model-layer .model-bd .model-list .model-cell .model-name {
  position: absolute;
  font-size: 24px;
  color: #fff;
  z-index: 5;
  width: 148px;
  line-height: 155px;
  text-align: center;
}
.medical .model-box .model-layer .model-bd .model-list .model-cell:nth-of-type(1) .model-name {
  right: 0;
  bottom: 0;
}
.medical .model-box .model-layer .model-bd .model-list .model-cell:nth-of-type(1):after {
  content: "";
  display: block;
  position: absolute;
  right: -178px;
  bottom: -178px;
  width: 0px;
  height: 0px;
  border-top: 178px solid #0686d8;
  border-bottom: 178px solid transparent;
  border-right: 178px solid transparent;
  border-left: 178px solid #0686d8;
  border-radius: 50%;
}
.medical .model-box .model-layer .model-bd .model-list .model-cell:nth-of-type(2) .model-name {
  left: 0;
  bottom: 0;
}
.medical .model-box .model-layer .model-bd .model-list .model-cell:nth-of-type(2):after {
  content: "";
  display: block;
  position: absolute;
  left: -178px;
  bottom: -178px;
  width: 0px;
  height: 0px;
  border-top: 178px solid #0047ab;
  border-bottom: 178px solid transparent;
  border-right: 178px solid #0047ab;
  border-left: 178px solid transparent;
  border-radius: 50%;
}
.medical .model-box .model-layer .model-bd .model-list .model-cell:nth-of-type(3) .model-name {
  right: 0;
  top: 0;
}
.medical .model-box .model-layer .model-bd .model-list .model-cell:nth-of-type(3):after {
  content: "";
  display: block;
  position: absolute;
  right: -178px;
  top: -178px;
  width: 0px;
  height: 0px;
  border-top: 178px solid transparent;
  border-bottom: 178px solid #0047ab;
  border-right: 178px solid transparent;
  border-left: 178px solid #0047ab;
  border-radius: 50%;
}
.medical .model-box .model-layer .model-bd .model-list .model-cell:nth-of-type(4) .model-name {
  left: 0;
  top: 0;
}
.medical .model-box .model-layer .model-bd .model-list .model-cell:nth-of-type(4):after {
  content: "";
  display: block;
  position: absolute;
  top: -178px;
  left: -178px;
  width: 0px;
  height: 0px;
  border-top: 178px solid transparent;
  border-bottom: 178px solid #0686d8;
  border-right: 178px solid #0686d8;
  border-left: 178px solid transparent;
  border-radius: 50%;
}
.medical .model-box .model-layer .model-bd .model-list .model-cell:nth-of-type(1),
.medical .model-box .model-layer .model-bd .model-list .model-cell:nth-of-type(4) {
  border-top-left-radius: 0px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 0px;
}
.medical .model-box .model-layer .model-bd .model-list .model-cell:nth-of-type(2),
.medical .model-box .model-layer .model-bd .model-list .model-cell:nth-of-type(3) {
  border-top-left-radius: 70px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 70px;
}
.medical .spot-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  padding: 80px 0px;
  background-color: #f5f5f5;
}
.medical .spot-box .spot-layer {
  position: relative;
  overflow: hidden;
  width: 1200px;
  margin: 0px auto;
}
.medical .spot-box .spot-layer .title {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
}
.medical .spot-box .spot-layer .title .title-b {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  height: 98px;
  line-height: 98px;
  text-align: center;
}
.medical .spot-box .spot-layer .title .title-b .title-b-zh {
  position: relative;
  overflow: hidden;
  display: block;
  color: #1a1a1a;
  font-size: 28px;
  z-index: 3;
}
.medical .spot-box .spot-layer .title .title-b .title-b-zh:before {
  content: attr(data-en);
  display: block;
  height: 98px;
  line-height: 80px;
  font-size: 80px;
  color: #f7f7f7;
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.medical .spot-box .spot-layer .title .title-b .title-b-zh:after {
  content: "";
  display: block;
  width: 70px;
  height: 6px;
  background-color: #0047ab;
  position: absolute;
  left: 50%;
  bottom: -2px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.medical .spot-box .spot-layer .title .title-s {
  margin-top: 25px;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.medical .spot-box .spot-layer .spot-bd {
  margin-top: 40px;
}
.medical .spot-box .spot-layer .spot-bd .spot-list {
  position: relative;
  background-image: url("../images/yiLiao/spot_bg_01.png");
  background-position: center 159px;
  background-size: 574px 348px;
  background-repeat: no-repeat;
  min-height: 580px;
}
.medical .spot-box .spot-layer .spot-bd .spot-list .spot-cell {
  position: absolute;
  width: 300px;
  height: 159px;
  border-radius: 8px;
  padding: 8px 34px;
  box-sizing: border-box;
}
.medical .spot-box .spot-layer .spot-bd .spot-list .spot-cell .cell-img {
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  padding-left: 50px;
  background-position: left center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}
.medical .spot-box .spot-layer .spot-bd .spot-list .spot-cell .cell-txt {
  line-height: 22px;
  font-size: 16px;
  color: #fff;
}
.medical .spot-box .spot-layer .spot-bd .spot-list .spot-cell:nth-of-type(1) {
  left: 20px;
  top: 132px;
  background-color: #de9c03;
}
.medical .spot-box .spot-layer .spot-bd .spot-list .spot-cell:nth-of-type(1) .cell-img {
  background-image: url("../images/yiLiao/spot_01.png");
}
.medical .spot-box .spot-layer .spot-bd .spot-list .spot-cell:nth-of-type(2) {
  left: 452px;
  top: 0px;
  background-color: #eb5f27;
}
.medical .spot-box .spot-layer .spot-bd .spot-list .spot-cell:nth-of-type(2) .cell-img {
  background-image: url("../images/yiLiao/spot_02.png");
}
.medical .spot-box .spot-layer .spot-bd .spot-list .spot-cell:nth-of-type(3) {
  right: 30px;
  top: 138px;
  background-color: #10986d;
}
.medical .spot-box .spot-layer .spot-bd .spot-list .spot-cell:nth-of-type(3) .cell-img {
  background-image: url("../images/yiLiao/spot_03.png");
}
.medical .spot-box .spot-layer .spot-bd .spot-list .spot-cell:nth-of-type(4) {
  right: 136px;
  bottom: 10px;
  background-color: #d19a5f;
}
.medical .spot-box .spot-layer .spot-bd .spot-list .spot-cell:nth-of-type(4) .cell-img {
  background-image: url("../images/yiLiao/spot_04.png");
}
.medical .spot-box .spot-layer .spot-bd .spot-list .spot-cell:nth-of-type(5) {
  left: 128px;
  bottom: 10px;
  background-color: #0047ab;
}
.medical .spot-box .spot-layer .spot-bd .spot-list .spot-cell:nth-of-type(5) .cell-img {
  background-image: url("../images/yiLiao/spot_05.png");
}
.medical .train-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  padding: 80px 0px;
  background-color: #ebebeb;
}
.medical .train-box .train-layer {
  min-width: 1920px;
}
.medical .train-box .train-layer .title {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
}
.medical .train-box .train-layer .title .title-b {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  height: 98px;
  line-height: 98px;
  text-align: center;
}
.medical .train-box .train-layer .title .title-b .title-b-zh {
  position: relative;
  overflow: hidden;
  display: block;
  color: #1a1a1a;
  font-size: 28px;
  z-index: 3;
}
.medical .train-box .train-layer .title .title-b .title-b-zh:before {
  content: attr(data-en);
  display: block;
  height: 98px;
  line-height: 80px;
  font-size: 80px;
  color: #f7f7f7;
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.medical .train-box .train-layer .title .title-b .title-b-zh:after {
  content: "";
  display: block;
  width: 70px;
  height: 6px;
  background-color: #0047ab;
  position: absolute;
  left: 50%;
  bottom: -2px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.medical .train-box .train-layer .title .title-s {
  margin-top: 25px;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.medical .train-box .train-layer .train-bd {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  overflow: visible;
  margin-top: 50px;
}
.medical .train-box .train-layer .train-bd .train-list {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.medical .train-box .train-layer .train-bd .train-list .train-cell {
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 1;
  font-size: 0px;
  margin-bottom: 25px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0.1s;
  -moz-transition: all 0.5s ease 0.1s;
  -ms-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
}
.medical .train-box .train-layer .train-bd .train-list .train-cell img {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
}
.medical .status-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  padding: 80px 0px;
  background-color: #f5f5f5;
}
.medical .status-box .status-layer {
  position: relative;
  overflow: hidden;
  width: 1200px;
  margin: 0px auto;
}
.medical .status-box .status-layer .title {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
}
.medical .status-box .status-layer .title .title-b {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  height: 98px;
  line-height: 98px;
  text-align: center;
}
.medical .status-box .status-layer .title .title-b .title-b-zh {
  position: relative;
  overflow: hidden;
  display: block;
  color: #1a1a1a;
  font-size: 28px;
  z-index: 3;
}
.medical .status-box .status-layer .title .title-b .title-b-zh:before {
  content: attr(data-en);
  display: block;
  height: 98px;
  line-height: 80px;
  font-size: 80px;
  color: #f7f7f7;
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.medical .status-box .status-layer .title .title-b .title-b-zh:after {
  content: "";
  display: block;
  width: 70px;
  height: 6px;
  background-color: #0047ab;
  position: absolute;
  left: 50%;
  bottom: -2px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.medical .status-box .status-layer .title .title-s {
  margin-top: 25px;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.medical .status-box .status-layer .status-bd {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  overflow: visible;
  margin-top: 50px;
}
.medical .status-box .status-layer .status-bd .status-list {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.medical .status-box .status-layer .status-bd .status-list .status-cell {
  position: relative;
  overflow: hidden;
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 1;
  height: 293px;
  font-size: 0px;
  margin-bottom: 25px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0.1s;
  -moz-transition: all 0.5s ease 0.1s;
  -ms-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
}
.medical .status-box .status-layer .status-bd .status-list .status-cell .status-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
}
.medical .status-box .status-layer .status-bd .status-list .status-cell .status-img img {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
}
.medical .status-box .status-layer .status-bd .status-list .status-cell .status-txt {
  width: 100%;
  height: 293px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 293px;
  left: 0;
  font-size: 20px;
  color: #fff;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 70px 55px;
  -webkit-transition: all 0.5s ease 0.1s;
  -moz-transition: all 0.5s ease 0.1s;
  -ms-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
}
.medical .status-box .status-layer .status-bd .status-list .status-cell:nth-of-type(1):hover .status-txt,
.medical .status-box .status-layer .status-bd .status-list .status-cell:nth-of-type(3):hover .status-txt,
.medical .status-box .status-layer .status-bd .status-list .status-cell:nth-of-type(4):hover .status-txt,
.medical .status-box .status-layer .status-bd .status-list .status-cell:nth-of-type(6):hover .status-txt {
  top: 0;
  -webkit-transition: all 0.5s ease 0.1s;
  -moz-transition: all 0.5s ease 0.1s;
  -ms-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
}
.medical .status-box .status-layer .status-bd .status-list .status-cell:nth-of-type(2):hover,
.medical .status-box .status-layer .status-bd .status-list .status-cell:nth-of-type(5):hover {
  -webkit-transform: translate(0, -10px);
  -moz-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  -o-transform: translate(0, -10px);
  transform: translate(0, -10px);
  -webkit-transition: all 0.5s ease 0.1s;
  -moz-transition: all 0.5s ease 0.1s;
  -ms-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
  box-shadow: 4px 10px 15px rgba(100, 100, 100, 0.8);
}
.medical .cooper-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  padding: 80px 0px;
  background-color: #fff;
  background-image: url("../images/yiLiao/bg_02.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0px 20px;
}
.medical .cooper-box .cooper-layer {
  position: relative;
  overflow: hidden;
  width: 1200px;
  margin: 0px auto;
}
.medical .cooper-box .cooper-layer .title {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
}
.medical .cooper-box .cooper-layer .title .title-b {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  height: 98px;
  line-height: 98px;
  text-align: center;
}
.medical .cooper-box .cooper-layer .title .title-b .title-b-zh {
  position: relative;
  overflow: hidden;
  display: block;
  color: #1a1a1a;
  font-size: 28px;
  z-index: 3;
}
.medical .cooper-box .cooper-layer .title .title-b .title-b-zh:before {
  content: attr(data-en);
  display: block;
  height: 98px;
  line-height: 80px;
  font-size: 80px;
  color: #f7f7f7;
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.medical .cooper-box .cooper-layer .title .title-b .title-b-zh:after {
  content: "";
  display: block;
  width: 70px;
  height: 6px;
  background-color: #0047ab;
  position: absolute;
  left: 50%;
  bottom: -2px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.medical .cooper-box .cooper-layer .title .title-s {
  margin-top: 25px;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.medical .cooper-box .cooper-layer .title .title-b-zh {
  color: #fff !important;
}
.medical .cooper-box .cooper-layer .title .title-b-zh:before {
  color: rgba(247, 247, 247, 0.1) !important;
}
.medical .cooper-box .cooper-layer .cooper-bd {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  overflow: visible;
  margin-top: 50px;
}
.medical .cooper-box .cooper-layer .cooper-bd .cooper-list {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.medical .cooper-box .cooper-layer .cooper-bd .cooper-list .coop-cell {
  width: 223px;
  height: 167px;
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 1;
  font-size: 0px;
  margin-bottom: 25px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0.1s;
  -moz-transition: all 0.5s ease 0.1s;
  -ms-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
}
.medical .cooper-box .cooper-layer .cooper-bd .cooper-list .coop-cell img {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
}
.medical .cooper-box .cooper-layer .cooper-bd .cooper-list .coop-cell:hover {
  -webkit-transition: all 0.5s ease 0.1s;
  -moz-transition: all 0.5s ease 0.1s;
  -ms-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
  transform: rotateY(180deg);
}
.medical .contact-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  zoom: 1;
  background-color: #fff;
}
.medical .contact-box:before {
  content: " ";
  display: table;
}
.medical .contact-box:after {
  content: " ";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.medical .contact-box .contact-layer {
  position: relative;
  overflow: hidden;
  width: 1200px;
  margin: 0px auto;
  margin: 100px auto;
}
.medical .contact-box .contact-layer .title {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
}
.medical .contact-box .contact-layer .title .title-b {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  height: 98px;
  line-height: 98px;
  text-align: center;
}
.medical .contact-box .contact-layer .title .title-b .title-b-zh {
  position: relative;
  overflow: hidden;
  display: block;
  color: #1a1a1a;
  font-size: 28px;
  z-index: 3;
}
.medical .contact-box .contact-layer .title .title-b .title-b-zh:before {
  content: attr(data-en);
  display: block;
  height: 98px;
  line-height: 80px;
  font-size: 80px;
  color: #f7f7f7;
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.medical .contact-box .contact-layer .title .title-b .title-b-zh:after {
  content: "";
  display: block;
  width: 70px;
  height: 6px;
  background-color: #0047ab;
  position: absolute;
  left: 50%;
  bottom: -2px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.medical .contact-box .contact-layer .title .title-s {
  margin-top: 25px;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.medical .contact-box .contact-layer .contact-bd {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  margin-top: 50px;
}
.medical .contact-box .contact-layer .contact-bd .cont-address {
  min-width: 45%;
  float: left;
}
.medical .contact-box .contact-layer .contact-bd .cont-address .cont-dt {
  position: relative;
  overflow: hidden;
}
.medical .contact-box .contact-layer .contact-bd .cont-address .cont-dt .cd-company {
  color: #0047ab;
  font-size: 18px;
}
.medical .contact-box .contact-layer .contact-bd .cont-address .cont-dt .cd-company-en {
  color: #333;
  font-size: 16px;
  margin: 14px auto 8px;
  display: block;
}
.medical .contact-box .contact-layer .contact-bd .cont-address .cont-dd {
  position: relative;
  overflow: hidden;
  padding-left: 62px;
  line-height: 60px;
  color: #393939;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: left center;
}
.medical .contact-box .contact-layer .contact-bd .cont-address .cont-dd:nth-of-type(1) {
  background-image: url("../images/contact_01.png");
}
.medical .contact-box .contact-layer .contact-bd .cont-address .cont-dd:nth-of-type(2) {
  background-image: url("../images/contact_02.png");
}
.medical .contact-box .contact-layer .contact-bd .cont-address .cont-dd:nth-of-type(3) {
  background-image: url("../images/contact_03.png");
}
.medical .contact-box .contact-layer .contact-bd .cont-address .cont-dd:nth-of-type(4) {
  padding-left: 0px;
}
.medical .contact-box .contact-layer .contact-bd .cont-address .cont-dd .dd-img {
  font-size: 0px;
  display: inline-block;
  width: 186px;
  height: 186px;
}
.medical .contact-box .contact-layer .contact-bd .cont-address .cont-dd .dd-img img {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
}
.medical .contact-box .contact-layer .contact-bd .cont-map {
  width: 624px;
  height: 447px;
  float: right;
}
.medical .contact-box .contact-layer .contact-bd .cont-map #allmap {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
  height: 100%;
}
/*# sourceMappingURL=medical.css.map */