<header class="header">
    <div class="head-inner">
        <div class="logo">
            <img src="images/logo_01.png">
        </div>
        <nav class="head-nav">
            <a class="nav-cell {{navCurrent1}}" href="/">
                <i>首页</i>            
            </a>
            <a class="nav-cell {{navCurrent2}}" href="/education">
                <i>有方教育</i> 
                {{!-- <i>有方教育</i>   --}}
                <div class="cell-bar">
                    <p class="bar-li">幼儿教师</p>
                    <p class="bar-li">K12教师</p>
                </div>              
            </a>
            <a class="nav-cell {{navCurrent3}}" href="/medical">
                <i>有方天使</i>
                {{!-- <i>院校合作</i> --}}
                <div class="cell-bar">
                    <p class="bar-li">合作公校</p>
                    <p class="bar-li">合作机构</p>
                </div>            
            </a>
            <a class="nav-cell {{navCurrent4}}" href="javascript:viod(0)">
                <i>关于我们</i>  
                <div class="cell-bar">
                    <p class="bar-li">企业背景</p>
                    <p class="bar-li">培训基地</p>
                </div>             
            </a>
        </nav>
    </div>
</header>