<footer class="footer">
    <div class="foot-inner">
        {{!-- <p class="foot-record">
            版权所有Copyright  ©2013-
            <script type="text/javascript">
                const newYear = new Date().getFullYear();
                document.write(newYear);
            </script> 
            深圳有方国际教育有限公司（兼技术支持）粤ICP备11086617号 - 1
        </p> --}}
    </div>
</footer>