/* less-modules */
.table_box {
  position: relative;
  thead{
    th{
      font-size: 3.2vw !important;
      color: rgb(255, 255, 255) !important;
      //font-size: 36px !important;
      background-color: #f44336 !important;
    }
  }
  tbody{
    td{
      font-size: 2.8vw !important;
      color: #000;
      //font-size: 24px !important;
      div{
        p{
          font-size: 1.25vw !important;
          //font-size: 24px !important;
        }
      }
    }
  }
}

.antPickerRange{
  display: flex;
}

.btnAction{
  margin-left: 10px;
}