.barbg{
    width: 493px;
    height: 9px;
    background: url('../../../../assets/images/statbar.png') no-repeat;
    background-position: right 0;
    // .rdy{
    //     width: 0px;
    //     height: 9px;
    //     background: url('../../../../assets/images/statbar.png') no-repeat;
    //     background-position: right -30px;
    // }
    // .cur{
    //     width: 30.2231%;
    //     height: 9px;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     // width: 1%;
    //     background: url('../../../../assets/images/statbar.png') no-repeat;
    //     background-position: left -66px;
    //     .btn{
    //         position: absolute;
    //         top: -7px;
    //         right: -13px;
    //         width: 22px;
    //         height: 24px;
    //         margin-left: -11px;
    //         background: url('../../../../assets/images/iconall.png') no-repeat;
    //         background-position: 0 -250px;
    //         cursor: pointer;
    //         &:hover{
    //             background-position: 0 -280px;
    //         }
    //     }
    // }
}
.barbg-vertical{
    transform: rotate(-90deg);
}